.new-tweet {
  background-color: #e9e9e9;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #D7D7D7;
}

#compose-tweet {
  padding: 0.5em;
  margin-left: 0.1em;
  width: 368px;
  height: 75px;
}

.counter {
  float: right;
  font-style: italic;
}

.counter-invalid {
  float: right;
  font-style: italic;
  color: #FF0000;
}

#compose {
  white-space: nowrap;
  border-bottom: 1px solid black;
  padding-right: 13.5rem;
  margin-top: 0;
}